.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 1rem;
}

#search {
  font-family: inherit;
  font-size: 14px;
  width: 280px;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 1rem auto;
  outline: none;
}

#search:focus {
  border: 1px solid #68adea;
}

.recipe_list {
  margin: 1rem 0 0.5rem;
}
